.container {
    border: 1px solid black;
    height: 700px;
    background-color: yellow;
    width: 504px;
    display: grid;
    grid-template-rows: 30px 1fr 30px;
    grid-template-columns: 100px 400px;

    grid-gap: 4px;

    grid-template-areas: 
    "head head"
    "side main"
    "foot foot";
}
.box {
    border: 1px solid red;
    background-color: aqua;
}
#header {
    grid-area: head;
}
#sidebar {
    grid-area: side;
}
#content {
    grid-area: main;
}
#footer {
    grid-area: foot;
}